:root {
  --primary-color: #e6d60f;
  --secondary-color: #171616;
  --secondary-text-color: #ffff;
  --form-background-color: #ffffffa6;
  --unknown-field-color: #9b9b99;
  --dropdown-menu-shadow: #000 0px 0px 0px 0px, #0000000f 0px 0px 0px 1px, #000000f0 0px 10px 15px -3px,
    #0000008f 0px 4px 6px -2px;
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: white
}
/* 
.MuiSvgIcon-root {
  color: white !important
} */

body {
  background-image: url("../../public/images/background.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
.timePicker label.MuiFormLabel-root {
  font-weight: bold;
}
div[role="presentation"].MuiAutocomplete-popper {
  z-index: 1000000;
}


/* Hide scrollbar for Chrome, Safari and Opera */
.hideScrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hideScrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
} 